<%- include('../partials/header') %>

<h1>Main page after login</h1>
<table border="1">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Subject</th>
            <th>Level</th>
            <th>View More</th>
        </tr>
    </thead>
    <tbody>
        <% posts.forEach(p=> { %>
            <tr>
                <td>
                    <%= p.topic %>
                </td>
                <td>
                    <%= p.subject %>
                </td>
                <td>
                    <%= p.level %>
                </td>
                <td>
                    <a href="/posts/<%= p._id %>"</a>
                </td>
            </tr>
        </tbody>

    <% }) %>
</table>

<%- include('../partials/footer') %>