<%- include('../partials/header') %>

<body>
<h2>All Questions</h2>

<table border="1">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Subject</th>
            <th>Level</th>
            <th>Posted By</th>
            <th>Date</th>
            <th>Replies</th>
            <th>View More</th>
        </tr>
    </thead>
    <tbody>
        <% posts.sort((a, b)=> new Date(b.updatedAt) - new Date(a.updatedAt)).forEach(p=> { %>
            <tr>
                <td>
                    <%= p.topic %>
                </td>
                <td>
                    <%= p.subject %>
                </td>
                <td>
                    <%= p.level %>
                </td>
                <td>
                    <%= p.name %>

                </td>
                <td>
                    <%= new Date(p.updatedAt).toLocaleDateString('en-US', { day: '2-digit' , month: 'short' ,
                        year: 'numeric' }) %>
                </td>
                <td>
                    <%= p.comments.length %>
                </td>
                <td>
                    <a href="/posts/<%= p._id %>"><button id="details">Details</button></a>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>

</body>


<%- include('../partials/footer') %>