<%- include('../partials/header') %>

    <h2>My Posts</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Subject</th>
                <th>Replies</th>
                <th>Date Posted</th>
                <th>View More</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            
            <% posts.sort((a, b)=> new Date(b.updatedAt) - new Date(a.updatedAt)).forEach(p=> { %>
                <tr>
                    <td>
                        <%= p.topic %>
                    </td>
                    <td>
                        <%= p.subject %>
                    </td>
                    <td>
                        <%= p.comments.length %>
                    </td>
                    <td>
                    <%= new Date(p.updatedAt).toLocaleDateString('en-US', { day: '2-digit' , month: 'short' , year: 'numeric' }) %>
                    </td>
                    <td>
                        <a href="/posts/<%= p._id %>"><button id="details">Details</button></a>
                    </td>
                    <td>
                    <% const postLink=`/posts/${p._id}/edit`%>
                    <a href="<%=postLink%>"><button id="edit">Edit</button></a>
                    </td>
                    <td>
                    <form action="/posts/<%=p._id%>?_method=DELETE" method="post">
                    <button id="delete" type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
                    </form>
                    </td>
                </tr>
        </tbody>

        <% }) %>
    </table>
<br><br>
    <%- include('../partials/footer') %>